hr {
  margin: 0;
  opacity: 0;
}

.app {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}


.content {
  flex: 1;
  margin-top: 64px;
}

.header-link {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: #b59f5b;
  }
}

.header {
  width: 100%;
  position: relative;
  color: #ffffff;

  &--container {
    flex-direction: column;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/banner-bg.jpg);
    background-size: cover;
    z-index: -1;

    @media (max-width: 425px) {
      background-image: url(./img/banner-mobile.jpg);
    }

    @media (min-width: 425px) and (max-width: 768px) {
      background-image: url(./img/banner-bg-tablet.jpg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__nav {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    &-logo {
      width: 179px;

      img {
        width: 100%;
      }
    }

    &-menu {
      display: flex;
      gap: 35px;

      &--mobile {
        position: relative;
        display: block;
        height: 3px;
        width: 23px;
        background-color: #fff;

        &:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 23px;
          background-color: #fff;
          margin-top: -7px;
        }

        &:before {
          content: "";
          position: absolute;
          height: 3px;
          width: 23px;
          background-color: #fff;
          margin-top: 7px;
        }
      }
    }

    &-item {
      list-style: none;
      text-transform: uppercase;
    }

    &-link {
      color: inherit;
      font-size: 13px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    font-size: 45px;
    line-height: 75px;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    text-transform: uppercase;
    padding: 100px 0 120px;
  }

}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    padding: 60px 0 32px 0;
    margin: 0;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      position: relative;
      margin: 0 auto;
      bottom: -8px;
      width: 66px;
      height: 3px;
      background-color: #b59f5b;
      opacity: 0.4;
    }
  }
}

.trends {
  --gap: 4px;
  display: flex;
  gap: var(--gap);
  color: #ffffff;

  &__item {
    position: relative;
    display: flex;
    box-sizing: border-box;
    max-width: 414px;
    min-height: 320px;
    padding: 16px 22px;
    width: 100%;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }

      &--1 {
        background-image: url(./img/trend1.jpg);
      }

      &--2 {
        background-image: url(./img/trend2.jpg);
      }

      &--3 {
        background-image: url(./img/trend3.jpg);
      }

      &--4 {
        background-image: url(./img/trend4.jpg);
      }
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
    }

    &-wrap {
      border: 3px solid #b59f5b;
      padding: 32px 32px;
      align-self: end;

    }
  }
}

.category-tags {
  display: flex;
  gap: 21px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;

  &__item {
    text-decoration: none;
    color: #b59f5b;

    &:hover {
      text-decoration: underline;
    }
  }
}





.post {

  &--container {

  }

  &-card {
    display: flex;
    gap: 30px;
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 0;
    }

    &__img {
      min-width: 381px;
    }

    &__content {
      max-width: 365px;
    }
    &__header {}
    &__title {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 30px;
    }

    &__text {
      line-height: 1.45;
      margin-top: 48px;
      font-size: 15px;
    }
  }

  &-meta {
    display: flex;
    gap: 13px;
    font-size: 12px;

    &__date {
      font-size: 12px;
      color: #888888;
    }

    &__author {
      font-weight: bold;
    }
  }

  &-preview {
    display: flex;
    gap: 18px;
    margin-bottom: 22px;

    &__img {
      width: 70px;
      height: 70px;

      img {
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 7px;
      max-width: 100%;
    }

    &__title {
      margin: -4px 0;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;

      a {
        line-height: inherit;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: #b59f5b;
        }
      }
    }
  }
}

.sidebar {
  flex: 0 0 271px;
  max-width: 271px;
}

.widget {

  &--tags {
    margin-top: -5px;
  }

  &--themes {
    margin-top: -3px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 40px;

    &::after {
      content: "";
      display: block;
      position: relative;
      margin: 0 auto;
      bottom: -11px;
      width: 66px;
      height: 3px;
      background-color: #b59f5b;
      opacity: 0.4;
    }
  }

  &__content {}


}

.search {
  font-size: 12px;
  margin-top: 60px;
  display: flex;
  height: 50px;
  width: 100%;

  &__input {
    background-color: #f4f7f6;
    border: none;
    padding: 20px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b59f5b;
    border: none;
    min-width: 50px;
    height: 100%;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #323232;
      cursor: pointer;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
  }
}

.subscribe {

  &__form {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-size: 13px;
    box-sizing: border-box;
    background-color: #f4f7f6;
    border: none;
    padding: 16px 18px;
    width: 100%;
    margin-bottom: 17px;

    &:focus {
      outline: none;
    }
  }
  &__button {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #b59f5b;
    border: none;
    width: 100%;
    height: 50px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #323232;
      cursor: pointer;
    }
  }
}

.tags {
  margin-top: -3px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;

  &__item {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #f4f3f1;
    padding: 5px 13px;
    transition: all .2s;

    &:hover {
      border-color: #b59f5b;
    }
  }
}

.themes {
  margin-top: -18px;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    gap: 5px;
    font-weight: bold;
    padding: 16px 0 13px 0;
    border-bottom: 2px solid #eeeeee;
  }

  &__title {
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    transition: color 0.3s ease;

    &:hover {
      color: #b59f5b;
    }
  }

  &__counter {
    margin-top: -3px;
    font-size: 12px;
    color: #b59f5b;
  }
}

.shop {

  &__container {
    display: flex;
    justify-content: center;
    gap: 64px;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 346px;
    position: relative;

    &-wrap {
      margin-top: -54px;
      padding: 50px 20px 20px 19px;
      border: 3px solid #b59f5b;
      min-height: 190px;
      z-index: 1;
    }

    &-img {
      min-width: 300px;
      margin-top: 5px;
      margin-bottom: 20px;
      z-index: -1;
    }

    &-title {
      font-size: 20px;
      line-height: 1.2;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    &-desc {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 22px;

      a {
        text-decoration: none;
        color: #b59f5b;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-prices {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &-price {
      font-size: 20px;
      font-weight: bold;
    }

    &-old-price {
      font-size: 14px;
      text-decoration: line-through;
    }

    &-bottom-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-button {
      box-sizing: border-box;
      color: #ffffff;
      padding: 17px 28px;
      background-color: #b59f5b;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        background-color: #323232;
      }
    }
  }
}

.footer {

  &__social {
    margin-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding: 29px 0;
    background-color: #f4f7f6;

    &-icon {
      height: 22px;
      width: auto;
    }
  }

  &__copyright {
    text-align: center;
    font-size: 12px;
    color: #999999;
    padding: 70px 0 44px 0;
  }

}

@media (max-width: 430px) {

  .header {
    height: 100vh;

    &__nav {


      &-menu {
        display: none;
      }
    }
  }

  .trends {
    flex-direction: column;

    &__item {
      max-width: 100%;
    }
  }

  .sidebar {
    flex: 1;
    max-width: 100%;
  }

  .post {

    &--container {
      flex-direction: column;
    }
    &-card {
      flex-direction: column;

      &__img {
        min-width: 100%;
      }
    }
  }

  .shop {

    &__container {
      flex-direction: column;
    }
  }

}