hr {
  margin: 0;
  opacity: 0;
}

.app {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  margin-top: 64px;
}

.header-link {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
}
.header-link:hover {
  color: #b59f5b;
}

.header {
  width: 100%;
  position: relative;
  color: #ffffff;
}
.header--container {
  flex-direction: column;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/banner-bg.jpg);
  background-size: cover;
  z-index: -1;
}
@media (max-width: 425px) {
  .header__bg {
    background-image: url(./img/banner-mobile.jpg);
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .header__bg {
    background-image: url(./img/banner-bg-tablet.jpg);
  }
}
.header__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header__nav {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.header__nav-logo {
  width: 179px;
}
.header__nav-logo img {
  width: 100%;
}
.header__nav-menu {
  display: flex;
  gap: 35px;
}
.header__nav-menu--mobile {
  position: relative;
  display: block;
  height: 3px;
  width: 23px;
  background-color: #fff;
}
.header__nav-menu--mobile:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 23px;
  background-color: #fff;
  margin-top: -7px;
}
.header__nav-menu--mobile:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 23px;
  background-color: #fff;
  margin-top: 7px;
}
.header__nav-item {
  list-style: none;
  text-transform: uppercase;
}
.header__nav-link {
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
.header__nav-link:hover {
  text-decoration: underline;
}
.header__title {
  font-size: 45px;
  line-height: 75px;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 120px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__title {
  padding: 60px 0 32px 0;
  margin: 0;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  bottom: -8px;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}

.trends {
  --gap: 4px;
  display: flex;
  gap: var(--gap);
  color: #ffffff;
}
.trends__item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 414px;
  min-height: 320px;
  padding: 16px 22px;
  width: 100%;
}
.trends__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.trends__item-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.trends__item-img--1 {
  background-image: url(./img/trend1.jpg);
}
.trends__item-img--2 {
  background-image: url(./img/trend2.jpg);
}
.trends__item-img--3 {
  background-image: url(./img/trend3.jpg);
}
.trends__item-img--4 {
  background-image: url(./img/trend4.jpg);
}
.trends__item-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.trends__item-wrap {
  border: 3px solid #b59f5b;
  padding: 32px 32px;
  align-self: end;
}

.category-tags {
  display: flex;
  gap: 21px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.category-tags__item {
  text-decoration: none;
  color: #b59f5b;
}
.category-tags__item:hover {
  text-decoration: underline;
}

.post-card {
  display: flex;
  gap: 30px;
  margin-bottom: 55px;
}
.post-card:last-child {
  margin-bottom: 0;
}
.post-card__img {
  min-width: 381px;
}
.post-card__content {
  max-width: 365px;
}
.post-card__title {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 30px;
}
.post-card__text {
  line-height: 1.45;
  margin-top: 48px;
  font-size: 15px;
}
.post-meta {
  display: flex;
  gap: 13px;
  font-size: 12px;
}
.post-meta__date {
  font-size: 12px;
  color: #888888;
}
.post-meta__author {
  font-weight: bold;
}
.post-preview {
  display: flex;
  gap: 18px;
  margin-bottom: 22px;
}
.post-preview__img {
  width: 70px;
  height: 70px;
}
.post-preview__img img {
  object-fit: cover;
}
.post-preview__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 100%;
}
.post-preview__title {
  margin: -4px 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.post-preview__title a {
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}
.post-preview__title a:hover {
  color: #b59f5b;
}

.sidebar {
  flex: 0 0 271px;
  max-width: 271px;
}

.widget--tags {
  margin-top: -5px;
}
.widget--themes {
  margin-top: -3px;
}
.widget__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.widget__title::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  bottom: -11px;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
}
.search {
  font-size: 12px;
  margin-top: 60px;
  display: flex;
  height: 50px;
  width: 100%;
}
.search__input {
  background-color: #f4f7f6;
  border: none;
  padding: 20px;
  width: 100%;
}
.search__input:focus {
  outline: none;
}
.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b59f5b;
  border: none;
  min-width: 50px;
  height: 100%;
  transition: background-color 0.3s ease;
}
.search__btn:hover {
  background-color: #323232;
  cursor: pointer;
}
.search__icon {
  width: 18px;
  height: 18px;
}

.subscribe__form {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}
.subscribe__input {
  font-size: 13px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  padding: 16px 18px;
  width: 100%;
  margin-bottom: 17px;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #b59f5b;
  border: none;
  width: 100%;
  height: 50px;
  transition: background-color 0.3s ease;
}
.subscribe__button:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags {
  margin-top: -3px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
.tags__item {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid #f4f3f1;
  padding: 5px 13px;
  transition: all 0.2s;
}
.tags__item:hover {
  border-color: #b59f5b;
}

.themes {
  margin-top: -18px;
  display: flex;
  flex-direction: column;
}
.themes__item {
  display: flex;
  gap: 5px;
  font-weight: bold;
  padding: 16px 0 13px 0;
  border-bottom: 2px solid #eeeeee;
}
.themes__title {
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  transition: color 0.3s ease;
}
.themes__title:hover {
  color: #b59f5b;
}
.themes__counter {
  margin-top: -3px;
  font-size: 12px;
  color: #b59f5b;
}

.shop__container {
  display: flex;
  justify-content: center;
  gap: 64px;
}
.shop__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 346px;
  position: relative;
}
.shop__item-wrap {
  margin-top: -54px;
  padding: 50px 20px 20px 19px;
  border: 3px solid #b59f5b;
  min-height: 190px;
  z-index: 1;
}
.shop__item-img {
  min-width: 300px;
  margin-top: 5px;
  margin-bottom: 20px;
  z-index: -1;
}
.shop__item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.shop__item-desc {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 22px;
}
.shop__item-desc a {
  text-decoration: none;
  color: #b59f5b;
  cursor: pointer;
}
.shop__item-desc a:hover {
  text-decoration: underline;
}
.shop__item-prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.shop__item-price {
  font-size: 20px;
  font-weight: bold;
}
.shop__item-old-price {
  font-size: 14px;
  text-decoration: line-through;
}
.shop__item-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop__item-button {
  box-sizing: border-box;
  color: #ffffff;
  padding: 17px 28px;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
.shop__item-button:hover {
  background-color: #323232;
}

.footer__social {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding: 29px 0;
  background-color: #f4f7f6;
}
.footer__social-icon {
  height: 22px;
  width: auto;
}
.footer__copyright {
  text-align: center;
  font-size: 12px;
  color: #999999;
  padding: 70px 0 44px 0;
}

@media (max-width: 430px) {
  .header {
    height: 100vh;
  }
  .header__nav-menu {
    display: none;
  }
  .trends {
    flex-direction: column;
  }
  .trends__item {
    max-width: 100%;
  }
  .sidebar {
    flex: 1;
    max-width: 100%;
  }
  .post--container {
    flex-direction: column;
  }
  .post-card {
    flex-direction: column;
  }
  .post-card__img {
    min-width: 100%;
  }
  .shop__container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
